$black-forest: #283618;
$copperwood: #bc6c25;
$cornsilk: #fefae0;
$disabled-background: #dda25ea4;
$olive-leaf: #606c38;
$primary-text: #ffffff;
$required-border: #bc2525;
$sunlit-clay: #d78931;

$font-stack:
  'Manrope',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  sans-serif;
$radius: 0.5rem;
$transition: 0.2s ease;
